* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background_color: #2c2a2a;
  --font_family: "Poppins", sans-serif;
  --button_color: #49bd43;
  --banner_font_color: #fffdfe;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-family: var(--font_family);
  background-color: var(--background_color);
}
button {
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s;
}
/*================================*/
/*================================*/
/*==============MAIN==============*/
/*================================*/
/*================================*/
.main_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
}
.main_container.disable {
  display: none;
}
.main_container .main_box {
  width: 1620px;
  height: 42rem;
  overflow: hidden;
  border-radius: 3rem;
  position: relative;
}
.main_container .main_box video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.main_container .main_box .main_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 4rem 3rem 2rem 3rem;
}
.main_container .main_box .main_content h3 {
  font-size: 4rem;
  color: var(--banner_font_color);
  text-align: left;
  width: 700px;
}
.main_container .main_box .main_content .button_box {
  display: flex;
  justify-content: center;
}
.main_container .main_box .main_content .button_box button {
  width: fit-content;
  border: 0;
  background-color: var(--button_color);
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  border-radius: 5rem;
  font-weight: 600;
}
.main_container .main_box .main_content .button_box button:hover {
  background-color: #90ea8d;
}
/*===================================*/
/*===================================*/
/*==========MAIN-RESPONSIVE==========*/
/*===================================*/
/*===================================*/

@media (max-width: 1024px) {
  .main_container {
    padding: 0 1rem;
  }
  .main_container .main_box .main_content {
    padding: 5rem 4rem 3rem 4rem;
  }
  .main_container .main_box .main_content h3 {
    font-size: 4rem;
    width: 500px;
  }
}
@media (max-width: 768px) {
  .main_container .main_box .main_content h3 {
    font-size: 3rem;
    width: 450px;
  }
}
@media (max-width: 630px) {
  .main_container .main_box .main_content h3 {
    font-size: 2rem;
    width: 100%;
  }
}
@media (max-width: 430px) {
  .main_container {
    padding: 1rem;
  }
  .main_container .main_box .main_content {
    padding: 5rem 2rem 3rem 2rem;
  }
  .main_container .main_box {
    border-radius: 0.5rem;
  }
  .main_container .main_box .main_content h3 {
    font-size: 2.5rem;
    width: 100%;
  }
}

/*===================================*/
/*===================================*/
/*=============CALLROOM==============*/
/*===================================*/
/*===================================*/

.callRoom_container {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
}
.callRoom_container.enable {
  display: flex;
}

.callRoom_container .callRoom_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem 0 2rem 0;
}
.callRoom_container .callRoom_box .videoInputs {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  height: 60%;
}
.callRoom_container .callRoom_box .video_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 2px solid #00000000;
  border-radius: 0.25rem;
}

.callRoom_container .callRoom_box .video_box .user_Img {
  width: 180px;
  height: 180px;
  border-radius: 20rem;
  overflow: hidden;
}
.callRoom_container .callRoom_box .video_box .user_Img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.callRoom_container .callRoom_box .tools_box {
  /* margin-top: 270px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}
.callRoom_container .callRoom_box .btns_boxes {
  width: 55px;
  height: 55px;
  border-radius: 5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.callRoom_container .callRoom_box .btns_boxes button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-width: 0;
  border-radius: 5rem;
  overflow: hidden;
  background-color: #ffffff;
  transition: all 0.3s;
}

.callRoom_container .callRoom_box .btns_boxes button:hover {
  background-color: #9e9d9d;
}
.callRoom_container .callRoom_box .btns_boxes button i {
  color: #000;
  font-size: 1.5rem;
}

.callRoom_container .callRoom_box .btns_boxes .inactive {
  display: none;
  background-color: #0f0e0e;
}
.callRoom_container .callRoom_box .btns_boxes .inactive i {
  color: rgba(240, 235, 235, 0.652);
}
.callRoom_container .callRoom_box .leaveCallBtn button {
  background-color: #ed484b;
}
.callRoom_container .callRoom_box .leaveCallBtn button i {
  color: white;
}
.callRoom_container .callRoom_box .leaveCallBtn button:hover {
  background-color: #9e2f31;
}

.callRoom_container .callRoom_box .leaveCallBtn button:hover i {
  color: #c1c0c0;
}
/*==============================*/
/*==============================*/
/*=====CALLROOM-RESPONSIVE======*/
/*==============================*/
/*==============================*/
@media (max-width: 1440px) {
  .callRoom_container {
    padding: 0 2rem;
  }
  .callRoom_container .callRoom_box .video_box {
    height: 350px;
  }
}
@media (max-width: 1440px) {
  .callRoom_container {
    padding: 0 2rem;
  }
  .callRoom_container .callRoom_box .videoInputs {
    gap: 1.5rem;
  }
  .callRoom_container .callRoom_box .video_box {
    height: 400px;
  }
}
@media (max-width: 1124px) {
  .callRoom_container {
    padding: 0 1rem;
  }
  .callRoom_container .callRoom_box {
    width: 100%;
    padding: 6rem 0 2rem 0;
  }
  .callRoom_container .callRoom_box .video_box {
    height: 350px;
  }
  .callRoom_container .callRoom_box .video_box .user_Img {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 990px) {
  .callRoom_container {
    padding: 1rem 2rem;
  }
  .callRoom_container .callRoom_box {
    width: 100%;
    padding: 0;
  }
  .callRoom_container .callRoom_box .videoInputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .callRoom_container .callRoom_box .video_box {
    height: 325px;
  }
}
@media (max-width: 600px) {
  .callRoom_container {
    padding: 1rem;
  }
  .callRoom_container .callRoom_box {
    width: 100%;
    padding: 0;
  }
  .callRoom_container .callRoom_box .videoInputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .callRoom_container .callRoom_box .video_box {
    height: 300px;
  }
  .callRoom_container .callRoom_box .video_box .user_Img {
    width: 100px;
    height: 100px;
  }
}

/*=================*/
/*=================*/
/*=====LOADER======*/
/*=================*/
/*=================*/
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 42px;
  height: 42px;
  /* display: none; */
  justify-content: center;
  align-items: center;
  border: 3px solid #5c21a8;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader.active {
  display: flex;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
